<!DOCTYPE html>
<html lang="en" ng-app="rest">
<head>
	<meta charset="utf-8">
	<title>demo</title>
</head>
<body ng-controller ="restCtrl">
	<h1>Inside index.html</h1>
	<div>
		name : <input type="text" ng-model="name"><br>
		age : <input type="text" ng-model="age"><br>
		desig : <input type="text" ng-model="desig"><br>
		<a href="form.html">Click me</a>
	</div>
	<button ng-click="send()">Send Data</button>
	<button ng-click="get()">Get Data</button>
	<script src="angular.min.js"></script>
	<script src="custom.js"></script>
</body>
</html>